@import url(../fonts/RobotoMono-Light.ttf);

:root{
    --color-primary: #3F8E00;
    --color-secondary: #FFA217;
    --color-info: #2AB090;
    --color-black: #1B1B1B;
    --color-black-ligh: rgb(80, 79, 79, 0.6);
    --color-white: #F5F5F5;
    --color-white-light: #9C9C9C;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--color-black);
    margin: 0;
    color: var(--color-white);
}

/*main*/
#home, #stills,#colaborate,#contact{
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}


/*   GLOBALS    */
p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.bg-dark{
    background-color: #000!important;
    color: var(--color-white);
}
.bg-success{
    background-color: rgba(57, 186, 11, 0.7);
    color: var(--color-white);
    border: none;
}

img{
    width: 100%;
}
.btn-success{
    background-color: var(--color-primary)!important;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 0 .5rem;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1rem;
}

.title{
    font-weight: bold;
    text-transform: uppercase; 
    text-align: center;   
}

.card-content {
    display: grid;
}
@media screen and (min-width:1024px) {
    .card-content{
        display: grid;
        grid-template-columns: 50% 1fr ;
    }
}


/* footer */
footer{
    padding: .5rem 0;
    background-color: var(--color-black-ligh);
    text-align: center;
}